* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  border-radius: 3px;
  font-size: 1.2rem;
  margin-block: 5px;
  padding-block: 1px;
  padding-inline: 10px;
  width: fit-content;
}

select:focus {
  border: 2px solid green;
}

.App {
  background-color: azure;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  gap: 10px;
  height: 10%;
  justify-content: center;

  width: 100%;
}

/* Flag image */
.ghana-flag {
  width: 50px;
}
