html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: azure;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  gap: 10px;
  height: 20%;
  justify-content: center;

  width: 100%;
}

/* Flag image */
.ghana-flag {
  width: 50px;
}
