.search-button {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-block: 0.3em;
  padding-inline: 0.7em;
}

.search-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.button-div {
  display: flex;
  align-items: center;
}
