th {
  background-color: #444;
  color: #fff;
  width: 120px;
}

.larger,
th {
  font-size: 1.1rem;
}

.tribes-section {
  margin: 50px auto 5vh;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-inline-start: 5px;
  text-align: left;
}

table {
  font-size: 1rem;
  margin: 50px auto;
  /* width: 80%; */
}
